@tailwind base;
@tailwind components;
@tailwind utilities;

.kaiti {
    font-family: Arial, BiauKai, STKaiti, KaiTi, KaiTi_GB2312;
}

.songti {
    font-family: Georgia, SimSun, "宋体", serif;;
}

:root {
    /* bg-neutral-200 */
    --background-color: #e5e5e5
}